name: Automated Tagging
on:
  push:
    branches:
      - main
jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install mise
        uses: jdx/mise-action@v2

      - name: Get next version
        id: version
        run: |
          TAG=$(svu next)
          echo "TAG=$TAG" >> $GITHUB_ENV

      - name: Push tag
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git tag -a ${{ env.TAG }} -m "release version ${{ env.TAG }}"
          git push origin ${{ env.TAG }}
